ion-card {
  margin-top: 5em;
}

ion-card-content {
  text-align: left;
}

.login-subheader {
  margin-top: 1rem;
  font-size: 8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-item {
  --highlight-height: 0;
  --border-width: 0;
  display: flex;
  flex-direction: column;
}

.login-input {
  border-radius: 20px;
  background-color: #e0e0e0;
}

.login-input input {
  margin-left: 16px;
}

ion-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0%;
  padding: 0%;
}

ion-col {
  align-self: center;
}

ion-label {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

ion-item {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

ion-input {
  text-align: center;
}

ion-title {
  display: flex;
  flex: none;
  text-align: center;
}

.label-danger {
  font-size: 1em;
  justify-content: center;
  display: flex;
  margin-bottom: 1em;
}
