ion-card {
  margin-top: 5em;
}

ion-card-content {
  text-align: left;
}

ion-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0%;
  padding: 0%;
}

ion-col {
  align-self: center;
}

ion-label {
  font-size: 18px;
  font-weight: bold;
}

ion-item {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

ion-input {
  text-align: center;
}

ion-title {
  display: flex;
  flex: none;
  text-align: center;
}

.label-danger {
  font-size: 1em;
  justify-content: center;
  display: flex;
  margin-bottom: 1em;
}

