input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.home-keypad-container{
  margin-top: 12em;
  width: 100vw;
}

.keypad-container {
  display: flex;
  width: 100%;
}

.keypad-row {
  align-items: center;
}

.keypad-button {
  display: flex;
  width: 4.5em;
  @media {
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.icon-transform {
  transform: rotate(135deg);
}

.modal-call-header-title {
  font-size: 3.5em;
  margin-top: 1em;
  --border-color: black;
  --background: black;
}

.modal-call-title{
  text-align: center;
  padding: 1em;
  font-size: x-large;
}

.modal-call-tittle-spinner{
  top: 10px;
}

.modal-fab-button {
  --padding-start: 3.5em;
  --padding-end: 2em;
  --padding-top: 3.5em;
  --padding-bottom: 2em;
}

.modal-row {
  padding: 4em 2em 4em 0.5em;
  display: flex;
  height: 100%;
}