input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.keypad-container {
  display: flex;
  width: 100%;
}

.keypad-row {
  align-items: center;
}

.keypad-button {
  display: flex;
  width: 4.5em;

  @media {
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.modal-btns {
  --border-radius: 200px;
}
